table {
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  height: 100%;
}

td {
  border: 1px solid rgb(164, 164, 164);
  width: 100px;
  height: 30px;
  padding: 0px;
}

td:hover {
  background-color: rgb(255, 255, 255);
}

tbody {
  height: 100%;
}

.TimeCell .table-week {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
}

.TimeCell .table-week-head {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(164, 164, 164);
}

.TimeCell .table-time {
  width: 100%;
  font-size: 12px;
  white-space: pre-line;
  height: 70px !important;
}

.TimeCell .table-time:not(#last-table-time) {
  border-bottom: 1px solid rgb(164, 164, 164);
}