.Modal {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Modal .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(52, 52, 52);
    opacity: 0.5;
}

.Modal .modal-body {
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: white;
    border: 1px solid var(--main-border-light);
    border-radius: 20px;
}