.Modal {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.Modal .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: .5; */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.Modal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 500px;
    height: 700px;
    background-color: white;
    border: 1px solid var(--main-border-light);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgb(79, 79, 79);
}

.Modal .modal-header {
    display: flex;
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Modal .title-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Modal .title {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
}

.Modal .close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: 1px solid var(--main-border-light);
    border-radius: 25px;
    cursor: pointer;
}

.Modal .modal-element {
    width: 100%;
    height: 100%;

}