.ManageTeam{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  /* flex-direction: row; */
  /* align-items: center; */
}

.ManageTeam .container {
  display: flex;
  flex-direction: row;
}

.ManageTeam .main{
  display: flex;
  flex-direction: column;
  background-color: var(--main-theme-000);
  border: 1px solid black;
}
.ManageTeam .main > div {
  margin-right: 30px;
}

.ManageTeam .timetables{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  border: 1px solid black;
}
.ManageTeam .timetables > div {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #ffffff;
  cursor: pointer;
}

.ManageTeam .team_timetable{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.ManageTeam .members{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color:var(--main-theme-200);
}
.ManageTeam .member {
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.ManageTeam .icons{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}
/* .ManageTeam .container > * {margin-bottom: 20px;} */